# Vivado temporary files and directories
*.log
*.jou
*.str
*.pb
*.xpr
*.dir/
.Xil/
vivado*.zip

# Simulation outputs
*.wave
*.vcd
*.ghw
work-obj93.cf

# Vivado project outputs (runs & ip caches)
/*.runs/
/*.sim/
/*.ip_user_files/
/*.hw/
/*.cache/